<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470525767765-0qlca6jrqflgg9tddlgvcf5sb5d8nic4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470525767765-0qlca6jrqflgg9tddlgvcf5sb5d8nic4</string>
	<key>API_KEY</key>
	<string>AIzaSyCGQoNsX-eYfbmUHc_AjG0uBNiko0nNpSQ</string>
	<key>GCM_SENDER_ID</key>
	<string>470525767765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burobd.buroEmployee</string>
	<key>PROJECT_ID</key>
	<string>buro-employee</string>
	<key>STORAGE_BUCKET</key>
	<string>buro-employee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470525767765:ios:b119936bd7ae210909a4dc</string>
</dict>
</plist>